<div class="h-screen flex flex-col items-center justify-center">
   @if (productState$ | async; as state) {
      @if (state.loading) {
         <app-loading-container
            [message]="'Carregando detalhes do produto...'"
         ></app-loading-container>
      } @else if (state.error) {
         <app-info-container
            [infoMessage]="
               'O produto que você está procurando não existe ou foi removido.'
            "
         ></app-info-container>
      } @else {
         @if (state.product; as product) {
            <div class="w-full h-screen flex justify-center">
               <div class="container h-full flex flex-col">
                  <app-product-details
                     [product]="product"
                  ></app-product-details>
                  <app-reviews [productCode]="product.code"></app-reviews>
               </div>
            </div>
         } @else {
            <app-info-container
               [infoMessage]="
                  'O produto que você está procurando não existe ou foi removido.'
               "
            ></app-info-container>
         }
      }
   }
</div>
