<app-header></app-header>

<div class="w-screen flex flex-col items-center justify-center">
   <div class="container mt-10 lg:mt-34 w-full">
      @if (categoriesState$ | async; as catState) {
         @if (catState.loading) {
            <div class="flex justify-center py-10">
               <app-loading-container
                  [message]="'Carregando categorias...'"
               ></app-loading-container>
            </div>
         }

         @if (catState.error) {
            <div class="flex justify-center py-10">
               <p class="text-red-500">
                  Não foi possível carregar as categorias.
               </p>
            </div>
         }

         @if (!catState.loading && !catState.error) {
            <div
               class="flex flex-row flex-wrap justify-center items-center gap-x-5 md:gap-x-20 gap-y-5"
            >
               @for (category of catState.categories; track category.label) {
                  <app-category-card
                     [image]="category.image"
                     [alt]="category.alt"
                     [label]="category.label"
                     [link]="category.link"
                  ></app-category-card>
               } @empty {
                  <p class="text-gray-500">Nenhuma categoria encontrada.</p>
               }
            </div>
         }
      }
   </div>

   @if (productsState$ | async; as state) {
      @if (state.loading) {
         <app-loading-container
            [message]="'Carregando produtos...'"
         ></app-loading-container>
      }
      @if (state.error) {
         <app-error-container
            [errorMessage]="'Erro ao carregar produtos.'"
         ></app-error-container>
      } @else {
         @if (state.products.data.length > 0) {
            <h2 class="section-title">Produtos em Destaque</h2>

            <div
               class="container flex flex-row flex-wrap justify-center items-center mb-24 md:gap-5"
            >
               @for (product of state.products.data; track product.id) {
                  <app-product-card [product]="product"></app-product-card>
               }
            </div>
         } @else {
            <app-error-container
               [errorMessage]="'Nenhum produto encontrado.'"
            ></app-error-container>
         }
      }
   }
</div>
